<!DOCTYPE html>
<html>
<head>
    <title>{$_W['current_module']['title']}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../addons/drr_gy/template/mobile/css/crowd_detail.css">
</head>
<body>
	{loop $banners $scoll}
    <input type="hidden" name="scoll_img_data" value="/attachment/{$scoll}">
    {/loop}
	<div class="banner" id="banner">
        <img src="" id="banner_img">
    </div>
    <div class="containner">
        <div class="goods-list">
            <ul>
                <li>
                    <dl>
                        <dt>
                            <span>{$crowd['lottery']}{$crowd['content']}</span>
                        </dt>
                        <dd>
                            <div class="schadule" id="schedule">{$crowd['rate']}%</div>
                            <span style="float: left;">{$crowd['vir']}人支持</span>
                            <div class="crowd_info">
                                <ul>
                                    <li><p>支持人数</p>{$crowd['vir']}人</li>
                                    <li><p>已筹金额</p>{$crowd['total']}元</li>
                                    <li><p>剩余时间</p>{$crowd['remain']}天</li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </li>  
            </ul>
        </div>
    </div>
    <div class="goods_info">
        <h3>众筹详情</h3>
        {loop $banners $scoll}
        <img src="/attachment/{$scoll}">
        {/loop}
        {$crowd['content']}
        {$crowd['detail']}
        <h3>众筹协议</h3>
        {$crowd['agreement']}
    </div>
    <div class="bottom_nav" id="bottom_nav">
        <span style="display: block;background-color: orange;border-radius:1rem;color: white;" id="toindex">首页</span>
        <span style="display: block;background-color: #FF3300;border-radius:1rem;color: white;" id="buynow">参与众筹</span>
    </div>
    <div class="select_spec" id="select_spec" style="display:none">
        <div class="blank" id="blank"></div>
        <div class="goods_baseinfo">
            <dl>
                <dt id="spec_img"><img src="/attachment/{$crowd['img']}"></dt>
                <dd id="spec_description">
                    <p><span style="color:red;font-style: bold;font-size: 2rem;" id="price_show">￥{$specprices[0]}</span></p>
                    <h2 id="content_show">{$crowd['gname']}</h2>
                    <p id="num_show">库存：{$specnums[0]}</p>
                </dd>
            </dl>
            <div class="address">
                收货地址：<input type="text" name="input_address" id="input_address">
            </div>
            <p style="float:left;width: 100%;padding-left:0;margin-left:0;text-align: left;">选择规格型号</p>
            <div class="goods_spec">
                <ul>
                    {loop $specs $key $list}
                    <li class="{if $key == 0} onselect {else} onrelease {/if}">
                        <span onclick="choose_spec('{$list[spec]}','{$list[spec]}{$list[speccontent]}','{$list[specnums]}','{$list[specprices]}'),label_change(this)">
                            {$list['spec']}-{$list['speccontent']}
                        </span>
                    </li>
                    {/loop}
                </ul>
                购买数量:

                <span style="color: green;float: right;font-size: 3rem;line-height: 2rem;" onclick="input_add()">+</span>
                <input type="num" name="order_num"  id="goods_num" placeholder="" value="1">
                <span style="color: green;float: right;font-size: 3rem;line-height: 2rem;" onclick="input_minus()">-</span>
                <input type="hidden" name="price" id="input_price" value="{$crowd['price']}">
                <input type="hidden" name="specnum" id="specnum" value="{$specnums[0]}">
                <input type="hidden" name="gid" id="input_gid" value="{$crowd['id']}">
                <input type="hidden" name="spec" id="input_spec" value="{$specs[0]}{$speccontent[0]}{$specprices[0]}">
            </div>

            <div  id="buysure">
                <span style="display: block;background-color: #FF3300;border-radius:1rem;color: white;text-align: center;">确定</span>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../addons/drr_gy/template/mobile/js/goods_detail.js"></script>
</html>
