<!DOCTYPE html>
<html>
<head>
    <title>{$_W['current_module']['title']}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../addons/drr_gy/template/mobile/css/crowd.css">
</head>
<body>
    <div class="containner">
    	<div class="goods-list">
    		<ul>
    			{loop $crowd $list}
                <a href="{php echo $this->createMobileUrl('crowd', array('op' => 'crowd_detail','crowd_id'=>$list['id']))}">
                    <li>
                        <dl>
                            <dt>
                                <img src="/attachment/{$list['img']}">
                                <span>{$list['content']}</span>
                            </dt>
                            <dd>
                                <div class="schadule" style="width: {$list['rate']}%;">{$list['rate']} %</div>
                                <span style="float: left;">{$list['total_num']}人支持</span>
                                <div class="crowd_info">
                                    <ul>
                                        <li><p>支持人数</p>{$list['total_buyers']}人</li>
                                        <li><p>已筹金额</p>{$list['total']}元</li>
                                        <li><p>剩余时间</p>{$list['remain']}天</li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </li>  
                </a>
    			{/loop}
    		</ul>
    	</div>
    </div>

	{template 'footer'}

</body>
</html>
