<!DOCTYPE html>
<html>
<head>
    <title>{$_W['current_module']['title']}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../addons/drr_gy/template/mobile/css/shop.css">
</head>
<body>
    <div class="search_box">
        <input type="text" name="goods_search" id="goods_search" placeholder="请输入商品名称" onkeydown="search_goods(event);">
    </div>
    <div class="containner">
        <div class="goods_nav">
            <ul id="goods_menue">
                <li>全部商品</li>
                <li>精品推荐</li>
                <li>最新上架</li>
            </ul>            
        </div>
    	<div class="goods-list">

    		<ul>
    			{loop $goods $goods}
                <a href="{php echo $this->createMobileUrl('goods_detail', array('op' => 'index','goods_id'=>$goods['id']))}">
                    <li>
                        <dl>
                            <dt>
                                <img src="/attachment/{$goods['img']}">
                            </dt>
                            <dd>
                                <span class="goods_info">{$goods['gname']}</span><br>
                                <span class="goods_price">￥{$goods['price']}</span>
                                <img src="/addons/drr_gy/template/mobile/images/index/cart.png">
                            </dd>
                        </dl>
                    </li>  
                </a>

    			{/loop}
    		</ul>


    	</div>
    	
    </div>

	{template 'footer'}

</body>
<script type="text/javascript" src="../addons/drr_gy/template/mobile/js/shop.js"></script>
</html>
