<!DOCTYPE html>
<html>
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../addons/drr_gy/template/mobile/css/user_order.css">
</head>
<body>
    <div class="order_nav">
        <ul>
            <a href="?i=1&c=entry&op=adopt&do=user_order&m=drr_gy"><li>认养订单</li></a>
            <a href="?i=1&c=entry&op=crowd&do=user_order&m=drr_gy"><li>众筹订单</li></a>
            <a href="?i=1&c=entry&op=activity&do=user_order&m=drr_gy"><li>活动订单</li></a>
            <a href="?i=1&c=entry&op=goods&do=user_order&m=drr_gy"><li>商品订单</li></a>
        </ul>
    </div>
    <div class="order_container">
        <div class="order_list">
            <ul>
                {loop $order_data $list}
                <li>
                    <dl>
                        <dt><img src="/attachment/{$list['img']}"></dt>
                        <dd>
                            <div class="order_name"> {$list['name']}</div>
                            <div class="order_detail">价格{$list['price']}元，数量{$list['num']}</div>
                            <div class="order_hande">订单状态：{$list['status_state']}&nbsp;&nbsp;{if $list['status_state']=='未支付'}去支付&nbsp;&nbsp;取消订单&nbsp;&nbsp;{elseif $list['status_state']=='已发货'}快递公司：{$list['way']}&nbsp;&nbsp;快递单号：{$list['waybill']}{/if}</div>
                            <div class="order_mum">订单编号:  {$list['ordernum']}</div>
                            <div class="order_time">下单时间:  {$list['time']}</div>
                            <div class="order_addr">收货地址:  {$list['addr']}</div>
                        </dd>
                    </dl>
                </li>
                {/loop}
            </ul>            
        </div>
    </div>

    {template 'footer'}

</body>
<script type="text/javascript" src="../addons/drr_gy/template/mobile/js/user_order.js"></script>
</html>
