<!DOCTYPE html>
<html>
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../addons/drr_gy/template/mobile/css/user_center.css">
</head>
<body>
    <div class="profile">
        <div class="profile_left">
            {if !empty($user_info['img'])}
            <img src="{$user_info['img']}">
            {else}
            <img src="/addons/drr_gy/template/mobile/images/index/me (2).png">
            {/if}
        </div>

        <div class="profile_right">duanruirui &nbsp;<span> 3星果农</span></div>
    </div>
    <div class="menue">
        <ul>
            <a href="{php echo $this->createMobileUrl('user_order', array('op' => 'index'))}"><li>我的订单</li></a>
            <a href=""><li>问题建议</li></a>
            <a href=""><li>用户协议</li></a>
            <a href="{php echo $this->createMobileUrl('user_address', array('op' => 'index'))}"><li>收货地址管理</li></a>
        </ul>
    </div>

    {template 'footer'}

</body>
</html>
