{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/lhyzhnc_sun/template/public/ygcss.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>
    <li><a href="{php echo $this->createWebUrl('articlecatespec')}">推荐管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('articlecatespec',array('op'=>'specedit'))}">添加推荐</a></li>
</ul>
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                添加推荐
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">类型选择</label>
                    <div class="col-sm-10">
                         <label class="radio-inline">
                            <input  type="radio" id="emailwy4" name="state" value="1" {if $info['state']==1 || empty($info['state'])}checked{/if} />
                            <label for="emailwy4">文章</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy5" name="state" value="2" {if $info['state']==2}checked{/if} />
                            <label for="emailwy5">产品</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy6" name="state" value="3" {if $info['state']==3}checked{/if} />
                            <label for="emailwy6">活动</label>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="sort" class="form-control" value="{$info['sort']}"  /> 
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*排序，从小到大排序！</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">id</label>
                    <div class="col-sm-9">
                        <input type="text" name="aid" class="form-control" value="{$info['aid']}"  /> 
                    </div>
                    <div class="help-block col-sm-push-2 col-sm-12">*选择什么类型就填写它的ID！</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #444444;margin-left: 450px;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
            <input type="hidden" name="op" value="save" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-7").show();
        $("#yframe-7").addClass("wyactive");
    })
</script>